/* Dashboard 1 */
*{margin: 0; padding: 0;}
html{
    scroll-behavior: smooth;
}
#d1{
    position: relative;
    background-size: 100vw 100%;
    background-image: url(image/mainbg.png);
    background-repeat: no-repeat;
    height: 700px;
    margin: 0px;
    padding: 0px;
}
#tenjoy{
    text-align: center;
    font-size: 50pt;
    float: left;
    margin-top: 40px;
    margin-left: 10%;
    text-shadow: 5px 4px 3px grey;
    font-weight: bolder;
    font-family: 'Trebuchet MS'; 
}
#talamat{
    margin-top: 10px; 
    width: auto;
    font-size: 20pt; 
    text-align: center; 
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    float: right;
}




/* dashboard 2 */
#eventback{
    background-image:url(image/eventbg.png);
    background-size: 100vw 100%;
    background-repeat: no-repeat;
    height: 850px;
    margin: 0px;
    padding: 0px;

}
.scrollmenu{
    display:inline-block;
    padding:5px;
    margin-top:5px;
    width:97%;
    height:60px;
    overflow-y: auto;
    white-space: nowrap;
    background-color: whitesmoke;
}

.scrollevent{
    background-color: #00000025;
    margin: 0 auto;
    width: 85%;
    padding: 5px;
    overflow-x: auto;
    height: 300px;
    display: block ;
}
.eventTanggal{
    float: left; 
    width: 20vw; 
    height: 90px; 
    background-color: #FFBC95; 
    background-size: 20%;

}
.eventKet{
    width: auto; 
    height: 90px; 
    background-color:#FFE7D9; 
    border-bottom-right-radius: 10px; 
    border-top-right-radius: 10px;

}

.navbaraktif{
    background-color: #E7C8B6;
}



/* dashboard 3 */

.food{
    height: 268px;
    margin-right: 15px;
    box-shadow: 2px 3px 4px grey;

}








/* Dashboard 4 */
.garis_Bawah {
    background: #FFBC95;
    height: 3px;
    margin: 0 auto;
    width: 400px;
    margin-bottom: 20px;
}
.input_style{
    border: 2px solid #D3C0AC;
    background-color: #fcfcfc;
    width: 95%;
    height: 15%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 10px;
    margin-top: 2px;
}
#kirim{
    background: #D3C0AC;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 1px 8px #585858;
    cursor: pointer;
    color: black;
    font-size: 16pt;
    font-family: Verdana, sans-serif;
    height: 40px;
    margin-top: 30px;
    align-items: center;
    width: 30%;
}
.garis_Footer{
    background: #E1D1B7;
    height: 3px;
    margin: 0 auto;
    width: 70%;
}
.sub_Title{
    text-align: center; 
    margin: 0 auto;
    font-size: 40pt;
    font-weight: bold;
    padding-top: 15px;

}






/* /////////// */

.search {
    
    padding:8px 15px;
    background:rgb(255, 255, 255);
    border:0px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
.button {
    float: left;
    padding:8px 15px;
    right:-0px;
    background-image: url(image/search.png);
    background-size: cover;
    border:0px ;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
ul{
    margin-top: 10px;
    list-style-type: none;
    padding: 0;
    border-bottom: solid black;
    height: 32px;
    
}
li{
    float: left;
    height: 30px;
    border-bottom: black;
    font-size: 14pt;
    display: inline;
}
a{
    text-decoration: none;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    color: black;
    padding: 14px 16px;
    
}
li:hover{
    background-color: #E7C8B6;
}


::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);     
    background: #666;    
    width: 5px;
}
::-webkit-scrollbar-track-piece{
    width: 10px;
    
}

::-webkit-scrollbar-thumb {
    background: #232323;
    width: 10px;
}


