/* Dashboard 1 */
*{margin: 0; padding: 0;}
#d1{
    background-image: url(image/mainbg.png);
    background-repeat: no-repeat;
    background-size: 100vw 100%;
    height: 1000px;
    margin: 0px;
    padding: 0px;
}
#tenjoy{
    text-align: center;
    font-size: 50pt;
    float: left;
    margin-top: 70px;
    margin-left: 15%;
    
}

/* dashboard 2 */
#eventback{
    background-image:url(image/eventbg.png);
    background-size: 100vw 100%;
    background-repeat: no-repeat;
    height: 800px;
    margin: 0px;
    padding: 0px;

}
/* .scroll{
    display:block;
    border: 1px solid red;
    padding:5px;
    margin-top:5px;
    width:300px;
    height:50px;
    overflow:scroll;
} */
.scrollmenu{
    display:inline-block;
    padding:5px;
    margin-top:5px;
    width:320px;
    height:60px;
    overflow-x: auto;
    white-space: nowrap;
    background-color: whitesmoke;
}

.scrollevent{
    background-color: hotpink;
    margin-top: 20px;
    margin: 0 auto;
    width: 85%;
    padding: 5px;
    overflow-y: auto;
    height: 300px;
    display: block ;
}



/* dashboard 3 */

.food{
    height: 268px;
    margin-right: 15px;
    box-shadow: 2px 3px 4px grey;

}








/* Dashboard 4 */
.garis_Bawah {
    background: #FFBC95;
    height: 3px;
    margin: 0 auto;
    width: 400px;
}
.input_style{
    border: 2px solid #D3C0AC;
    background-color: #fcfcfc;
    width: 95%;
    height: 15%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 10px;
    margin-top: 2px;
}
#kirim{
    background: #D3C0AC;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 1px 8px #585858;
    cursor: pointer;
    color: black;
    font-size: 16pt;
    font-family: Verdana, sans-serif;
    height: 40px;
    margin-top: 30px;
    align-items: center;
    width: 40%;
}
.garis_Footer{
    background: #E1D1B7;
    height: 3px;
    margin: 0 auto;
    width: 70%;
}
.sub_Title{
    text-align: center; 
    margin: 0 auto;
    font-size: 40pt;
    font-weight: bold;
    padding-top: 20px;

}


